<h1>Cajero Automático</h1>
<head>
  <link rel="stylesheet" href="app.component.css">
</head>

<div class="input-group">
  <input type="number" [(ngModel)]="amount" (change)="setAmount($event)" placeholder="Ingrese la cantidad">
  <button type="button" (click)="clearTextBox()">Limpiar</button>
</div>

<div class="buttons">
  <button type="button" (click)="insertNumber(1)">1</button>
  <button type="button" (click)="insertNumber(2)">2</button>
  <button type="button" (click)="insertNumber(3)">3</button>
  <button type="button" (click)="insertNumber(4)">4</button>
  <button type="button" (click)="insertNumber(5)">5</button>
  <button type="button" (click)="insertNumber(6)">6</button>
  <button type="button" (click)="insertNumber(7)">7</button>
  <button type="button" (click)="insertNumber(8)">8</button>
  <button type="button" (click)="insertNumber(9)">9</button>
  <button type="button" (click)="insertNumber(0)">0</button>
  <button type="button" (click)="deleteOne()">←</button>
</div>

<button type="button" (click)="ATM()">Retirar</button>

<div class="results">
  <p id="label100">Billetes de $100.000: {{ billeteCount[3] }}</p>
  <p id="label50">Billetes de $50.000: {{ billeteCount[2] }}</p>
  <p id="label20">Billetes de $20.000: {{ billeteCount[1] }}</p>
  <p id="label10">Billetes de $10.000: {{ billeteCount[0] }}</p>
</div>


